.mainSliderDiv{
width:100%;
/* border:7px solid green; */
}
.sliderContainer {
    width: 50%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    height:400px;
    /* float: right; */
    margin: auto;
    /* border:1px solid red; */
  }
  .sliderPageButton p{
position: relative;
top:0;
left:120px;
  }
  .sliderPageButton h1{
    color:rgb(42,32,106);
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  }
  .sliderPageButton{
  
    width: 50%;
    /* border: 1px solid rgb(68, 0, 255); */
    float: left;
    height:400px;
  }
  .Contact{
    position: relative;
    top:30px;
    left:120px;
width:150px;
height:40px;
background-color: #1cc283;
/* border:1px solid red; */
border-radius: 10px;
  }
  .Contact span{
    position: relative;
    top:5px;
    left:22px;
    /* border:1px solid red; */
  }
  .Learnmore{
    position: relative;
    top:-10px;
    left:290px;
    width:220px;
    height:40px;
    background-color: rgb(234, 243, 234);
    border:2px solid rgb(42,32,106);
    border-radius: 10px;
  }
  .Learnmore span{
    position: relative;
    top:5px;
    left:22px;
    /* border:1px solid red;  */
  }
  
  .image {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.5s ease;
  }
  
  .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 1;
  }
  
  .button:hover {
    background: rgba(255, 255, 255, 1);
  }
  
  .button:nth-of-type(1) {
    left: 10px;
  }
  
  .button:nth-of-type(2) {
    right: 10px;
  }
  