.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  y
  .button {
    background-color: aqua;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  .signinform{
    background-color: #0d3b85;
    width:100%;
  }